@mixin page {
	display: flex;
	flex-direction: column;
	background-color: #f6f7f8;
	padding: 5rem 3rem 3rem 3rem;
	max-width: 900px;
	margin: 0 auto;
	gap: 1.5rem;
}

@mixin topBar {
	display: flex;
	align-items: center;
	position: relative;
	padding-bottom: 5rem;
}

@mixin pageTitle {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	font-size: 2rem;
	font-weight: 600;
}

@mixin subHeaders {
	font-family: "Cormorant Infant", serif;
	font-size: 1.5rem;
	font-weight: 600;
}

@mixin defaultText {
	font-family: "Ysabeau SC", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 1.2rem;
}