.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 2rem;
    padding-bottom: 16em;
}

.logo {
	width: 16rem;
	height: auto;
	margin-bottom: 2.5rem;
}

.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.25rem;
}
